AdaptiveCard-Moreinformationonevent/Microsoft.Flow/flows/a88358c0-1475-449b-9b4d-926ad3e24897/definition.json
{"name":"c84af1d2-43f6-4131-8780-a636d43057de","id":"/providers/Microsoft.Flow/flows/c84af1d2-43f6-4131-8780-a636d43057de","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Adaptive Card - More information on event","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"76d892a9-af2c-457d-afac-423f156bd51d","type":"User","tenantId":"6f70791a-c7d6-4b12-877a-a044355012a8"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-15T10:10:18.5276323Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"staticResults":{"Update_event_(V4)0":{"status":"Succeeded","outputs":{"statusCode":"OK","headers":{}}}},"triggers":{"When_a_new_event_is_created_(V3)":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CalendarGetOnNewItemsV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://europe-002.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/@{encodeURIComponent(encodeURIComponent('AAMkAGQzMWViNDYyLWQzMzAtNDg5MS05NzRkLWI5Mjg0MTY1YTZhMwBGAAAAAAARiDYAdVhYQYx4Z4KNIuXCBwA9pvCWO_tpRZNsq7HZ2lkCAAAAAAEGAAA9pvCWO_tpRZNsq7HZ2lkCAAAAAI46AAA='))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Post_Adaptive_Card_and_Wait":{"runAfter":{"Compose_Adaptive_Card":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeUserFlowContinuation"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://europe-002.azure-apim.net/apim/teams"}},"body":{"notificationUrl":"@{listCallbackUrl()}","body":{"recipient":{"to":"Admin@powertenant.onmicrosoft.com;"},"messageBody":"@{outputs('Compose_Adaptive_Card')}","updateMessage":"Event reviewed","shouldUpdateCard":true}},"path":"/flowbot/actions/flowcontinuation/recipienttypes/user/$subscriptions","authentication":"@parameters('$authentication')"}},"Compose_Adaptive_Card":{"runAfter":{},"type":"Compose","inputs":{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.0","body":[{"type":"ColumnSet","columns":[{"type":"Column","width":2,"items":[{"type":"TextBlock","text":"New event created: review information","weight":"Bolder","size":"Medium"},{"type":"TextBlock","text":"A new event was created in your calendar, please review the information.","isSubtle":true,"wrap":true},{"type":"TextBlock","text":"Title"},{"type":"Container","$data":"${properties}","items":[{"type":"Input.Text","spacing":"None","value":"@{triggerBody()?['subject']}","id":"eventTitle"}],"spacing":"None"},{"type":"TextBlock","text":"Date"},{"type":"Input.Date","spacing":"None","value":"@{triggerBody()?['start']}","id":"eventDate"},{"type":"TextBlock","text":"Start Time"},{"type":"Input.Time","spacing":"None","id":"eventStartTime","value":"@{formatDateTime(triggerBody()?['start'],'hh:mm tt')}"},{"type":"TextBlock","text":"End Time"},{"type":"Input.Time","spacing":"None","id":"eventEndTime","value":"@{formatDateTime(triggerBody()?['end'],'hh:mm tt')}"},{"type":"TextBlock","text":"Location"},{"type":"Input.Text","spacing":"None","value":"@{triggerBody()?['location']}","id":"eventLocation"}]},{"type":"Column","width":1,"items":[{"type":"Image","url":"https://www.kindpng.com/picc/m/107-1079056_calendar-png-vector-circle-calendar-icon-png-transparent.png","size":"auto"}]}]},{"type":"TextBlock","text":"Description"},{"type":"Input.Text","spacing":"None","isMultiline":true,"value":"@{triggerBody()?['body']}","id":"eventDescription"}],"actions":[{"type":"Action.Submit","title":"Submit"}]}},"Update_event_(V4)":{"runAfter":{"Get_Submit_Results":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V4CalendarPatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://europe-002.azure-apim.net/apim/office365"}},"method":"patch","body":{"subject":"@{outputs('Get_Submit_Results')?['eventTitle']}","start":"@{concat(formatDateTime(triggerBody()?['start'], 'yyyy-MM-dd'), 'T', outputs('Get_Submit_Results')?['eventStartTime'], ':00.0000000')}","end":"@triggerBody()?['end']","timeZone":"@triggerBody()?['timeZone']"},"path":"/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent('AAMkAGQzMWViNDYyLWQzMzAtNDg5MS05NzRkLWI5Mjg0MTY1YTZhMwBGAAAAAAARiDYAdVhYQYx4Z4KNIuXCBwA9pvCWO_tpRZNsq7HZ2lkCAAAAAAEGAAA9pvCWO_tpRZNsq7HZ2lkCAAAAAI46AAA='))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['id']))}","authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"staticResult":{"staticResultOptions":"Disabled","name":"Update_event_(V4)0"}}},"Get_Submit_Results":{"runAfter":{"Post_Adaptive_Card_and_Wait":["Succeeded"]},"type":"Compose","inputs":"@outputs('Post_Adaptive_Card_and_Wait')?['body']?['data']","description":"outputs('Post_Adaptive_Card_and_Wait')?['body']?['data']"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-7aecab4b-bfb7-486e-b3ad-df78ef5f0c76","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-58e2e0c0-c54f-4df6-8dc9-05758d35bd04","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}